In [12]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

nhl_df=pd.read_csv("assets/nhl.csv")
cities=pd.read_html("assets/wikipedia_data.html")[1]
cities=cities.iloc[:-1,[0,3,5,6,7,8]]
cities.rename(columns = {'Population (2016 est.)[8]':'population'}, inplace = True)

,Metropolitan area,population,NFL,MLB,NBA,NHL
0,New York City,20153634,GiantsJets[note 1],YankeesMets[note 2],KnicksNets,RangersIslandersDevils[note 3]
1,Los Angeles,13310447,RamsChargers[note 4],DodgersAngels,LakersClippers,KingsDucks
2,San Francisco Bay Area,6657982,49ersRaiders[note 6],GiantsAthletics,Warriors,Sharks[note 7]
3,Chicago,9512999,Bears[note 8],CubsWhite Sox,Bulls[note 9],Blackhawks
4,Dallas–Fort Worth,7233323,Cowboys,Rangers,Mavericks,Stars
5,"Washington, D.C.",6131977,Redskins,Nationals[note 10],Wizards[note 11],Capitals
6,Philadelphia,6070500,Eagles,Phillies[note 12],76ers,Flyers[note 13]
7,Boston,4794447,Patriots[note 14],Red Sox[note 15],Celtics,Bruins
8,Minneapolis–Saint Paul,3551036,Vikings,Twins,Timberwolves,Wild[note 16]
9,Denver,2853077,Broncos,Rockies,Nuggets[note 17],Avalanche[note 18]
10,Miami–Fort Lauderdale,6066387,Dolphins,Marlins,Heat,Panthers
11,Phoenix,4661537,Cardinals,Diamondbacks,Suns,Coyotes
12,Detroit,4297617,Lions,Tigers[note 20],Pistons[note 21],Red Wings
13,Toronto,5928040,— [note 22],Blue Jays,Raptors[note 23],Maple Leafs
14,Houston,6772470,Texans[note 24],Astros,Rockets,—
15,Atlanta,5789700,Falcons,Braves,Hawks,[note 25]
16,Tampa Bay Area,3032171,Buccaneers,Rays,—,Lightning
17,Pittsburgh,2342299,Steelers,Pirates,[note 27],Penguins[note 28]
18,Cleveland,2055612,Browns[note 29],Indians[note 30],Cavaliers[note 31],[note 32]
19,Seattle,3798902,Seahawks,Mariners,[note 33],[note 34]
20,Cincinnati,2165139,Bengals,Reds[note 35],[note 36],—
21,Kansas City,2104509,Chiefs,Royals[note 37],[note 38],[note 39]
22,St. Louis,2807002,[note 40],Cardinals[note 41],[note 42],Blues[note 43]
23,Baltimore,2798886,Ravens[note 45],Orioles[note 46],[note 47],—
24,Charlotte,2474314,Panthers,—,Hornets[note 49],—
25,Indianapolis,2004230,Colts,[note 50],Pacers[note 51],—
26,Nashville,1865298,Titans,—,—,Predators
27,Milwaukee,1572482,[note 53],Brewers[note 54],Bucks,—
28,New Orleans,1268883,Saints,—,Pelicans[note 55],—
29,Buffalo,1132804,Bills[note 56],[note 57],[note 58],Sabres
30,Montreal,4098927,—,[note 59],—,Canadiens
31,Vancouver,2463431,—,—,[note 60],Canucks
32,Orlando,2441257,—,—,Magic,—
33,Portland,2424955,—,—,Trail Blazers,—
34,Columbus,2041520,—,—,—,Blue Jackets
35,Calgary,1392609,—,—,—,Flames
36,Ottawa,1323783,—,—,—,Senators
37,Edmonton,1321426,—,—,—,Oilers
38,Salt Lake City,1186187,—,—,Jazz,—
39,Winnipeg,778489,—,—,—,Jets[note 61]
40,San Diego,3317749,[note 62],Padres,[note 63],—
41,San Antonio,2429609,[note 64],—,Spurs,—
42,Sacramento,2296418,—,—,Kings,—
43,Las Vegas,2155664,[note 6],—,—,Golden Knights
44,Jacksonville,1478212,Jaguars,—,—,—
45,Oklahoma City,1373211,—,—,Thunder[note 68],—
46,Memphis,1342842,[note 69],—,Grizzlies,—
47,Raleigh,1302946,—,—,—,Hurricanes
48,Green Bay,318236,Packers,—,—,—
49,Hamilton,747545,—,—,—,[note 71]
50,Regina,236481,—,—,—,—

In [24]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

nhl_df=pd.read_csv("assets/nhl.csv")
cities=pd.read_html("assets/wikipedia_data.html")[1]
cities=cities.iloc[:-1,[0,3,5,6,7,8]]

#clean up cities nhl team names and pop
cities.rename(columns = {'Population (2016 est.)[8]':'population'}, inplace = True)
cities['NHL'].replace('\[.*\]','', regex=True, inplace = True)
cities['NHL'].replace('\—', '', regex=True, inplace = True)

#clean up the nhl data
nhl_df = nhl_df[nhl_df['year']==2018]
nhl_df['W'] = nhl_df['W'].astype(str)
nhl_df = nhl_df[-nhl_df['W'].str.contains('Division')]
nhl_df['team'].replace('\*', '', regex=True,inplace = True)

#finds the name of the team from the entire term
nhl_df['name'] = nhl_df['team'].apply(lambda x: re.findall('(\w+)$', x)).astype('str')

#finds the index from the cities df to merge on based on team name
nhl_df['index'] = nhl_df['name'].apply(lambda x: cities['NHL'].str.find(x.strip('\[\]\'')).idxmax())
nhl_df = nhl_df.set_index('index').sort_values('index')

#Merge the popluation data to the nhl data
nhl_df = nhl_df.merge(cities[['Metropolitan area','population']], left_index = True, right_index = True)

#changes the data type for the wins and losses
nhl_df = nhl_df.explode('population')
nhl_df['population'] = nhl_df['population'].astype(float)
nhl_df['W'] = nhl_df['W'].astype(float)
nhl_df['L'] = nhl_df['L'].astype(float)
print( nhl_df)


#aggreagate data on metropolitan ar
win_loss_by_region = nhl_df.groupby('Metropolitan area').apply(lambda x: (x['W']/(x['W']+x['L'])).mean())
population_by_region = nhl_df.groupby('Metropolitan area').apply(lambda x: (x['population']).mean())
population_by_region = population_by_region.astype(int)
stats.pearsonr(population_by_region, win_loss_by_region)[0]
pd.DataFrame({'pop':population_by_region, 'win': win_loss_by_region})

                     team  GP     W     L  OL  PTS  PTS%   GF   GA    SRS  \
0        New York Rangers  82  34.0  39.0   9   77  .470  231  268  -0.46
0        New York Rangers  82  34.0  39.0   9   77  .470  231  268  -0.46
0        New York Rangers  82  34.0  39.0   9   77  .470  231  268  -0.46
0       New Jersey Devils  82  44.0  29.0   9   97  .591  248  244   0.02
0       New Jersey Devils  82  44.0  29.0   9   97  .591  248  244   0.02
0       New Jersey Devils  82  44.0  29.0   9   97  .591  248  244   0.02
0      New York Islanders  82  35.0  37.0  10   80  .488  264  296  -0.40
0      New York Islanders  82  35.0  37.0  10   80  .488  264  296  -0.40
0      New York Islanders  82  35.0  37.0  10   80  .488  264  296  -0.40
1       Los Angeles Kings  82  45.0  29.0   8   98  .598  239  203   0.44
1       Los Angeles Kings  82  45.0  29.0   8   98  .598  239  203   0.44
1           Anaheim Ducks  82  44.0  25.0  13  101  .616  235  216   0.24
1           Anaheim Ducks  82  44.0  25.0  13  101  .616  235  216   0.24
2         San Jose Sharks  82  45.0  27.0  10  100  .610  252  229   0.28
3      Chicago Blackhawks  82  33.0  39.0  10   76  .463  229  256  -0.26
4            Dallas Stars  82  42.0  32.0   8   92  .561  235  225   0.17
5     Washington Capitals  82  49.0  26.0   7  105  .640  259  239   0.21
6     Philadelphia Flyers  82  42.0  26.0  14   98  .598  251  243   0.07
7           Boston Bruins  82  50.0  20.0  12  112  .683  270  214   0.62
8          Minnesota Wild  82  45.0  26.0  11  101  .616  253  232   0.29
9      Colorado Avalanche  82  43.0  30.0   9   95  .579  257  237   0.28
10       Florida Panthers  82  44.0  30.0   8   96  .585  248  246  -0.01
11        Arizona Coyotes  82  29.0  41.0  12   70  .427  208  256  -0.53
12      Detroit Red Wings  82  30.0  39.0  13   73  .445  217  255  -0.48
13    Toronto Maple Leafs  82  49.0  26.0   7  105  .640  277  232   0.49
16    Tampa Bay Lightning  82  54.0  23.0   5  113  .689  296  236   0.66
17    Pittsburgh Penguins  82  47.0  29.0   6  100  .610  272  250   0.23
22        St. Louis Blues  82  44.0  32.0   6   94  .573  226  222   0.10
26    Nashville Predators  82  53.0  18.0  11  117  .713  267  211   0.71
29         Buffalo Sabres  82  25.0  45.0  12   62  .378  199  280  -0.98
30     Montreal Canadiens  82  29.0  40.0  13   71  .433  209  264  -0.68
31      Vancouver Canucks  82  31.0  40.0  11   73  .445  218  264  -0.51
34  Columbus Blue Jackets  82  45.0  30.0   7   97  .591  242  230   0.11
35         Calgary Flames  82  37.0  35.0  10   84  .512  218  248  -0.33
36        Ottawa Senators  82  28.0  43.0  11   67  .409  221  291  -0.85
37        Edmonton Oilers  82  36.0  40.0   6   78  .476  234  263  -0.32
39          Winnipeg Jets  82  52.0  20.0  10  114  .695  277  218   0.74
43   Vegas Golden Knights  82  51.0  24.0   7  109  .665  272  228   0.52
47    Carolina Hurricanes  82  36.0  35.0  11   83  .506  228  256  -0.35

      SOS  RPt% ROW  year League            name       Metropolitan area  \
0   -0.01  .427  31  2018    NHL     ['Rangers']           New York City
0   -0.01  .427  31  2018    NHL     ['Rangers']           New York City
0   -0.01  .427  31  2018    NHL     ['Rangers']           New York City
0   -0.03  .530  39  2018    NHL      ['Devils']           New York City
0   -0.03  .530  39  2018    NHL      ['Devils']           New York City
0   -0.03  .530  39  2018    NHL      ['Devils']           New York City
0   -0.01  .427  32  2018    NHL   ['Islanders']           New York City
0   -0.01  .427  32  2018    NHL   ['Islanders']           New York City
0   -0.01  .427  32  2018    NHL   ['Islanders']           New York City
1    0.00  .543  43  2018    NHL       ['Kings']             Los Angeles
1    0.00  .543  43  2018    NHL       ['Kings']             Los Angeles
1    0.01  .555  40  2018    NHL       ['Ducks']             Los Angeles
1    0.01  .555  40  2018    NHL       ['Ducks']             Los Angeles
2    0.00  .537  40  2018    NHL      ['Sharks']  San Francisco Bay Area
3    0.07  .409  32  2018    NHL  ['Blackhawks']                 Chicago
4    0.04  .506  38  2018    NHL       ['Stars']       Dallas–Fort Worth
5   -0.04  .585  46  2018    NHL    ['Capitals']        Washington, D.C.
6   -0.03  .543  40  2018    NHL      ['Flyers']            Philadelphia
7   -0.07  .610  47  2018    NHL      ['Bruins']                  Boston
8    0.04  .549  42  2018    NHL        ['Wild']  Minneapolis–Saint Paul
9    0.04  .518  41  2018    NHL   ['Avalanche']                  Denver
10  -0.04  .537  41  2018    NHL    ['Panthers']   Miami–Fort Lauderdale
11   0.05  .372  27  2018    NHL     ['Coyotes']                 Phoenix
12  -0.01  .341  25  2018    NHL       ['Wings']                 Detroit
13  -0.06  .567  42  2018    NHL       ['Leafs']                 Toronto
16  -0.07  .634  48  2018    NHL   ['Lightning']          Tampa Bay Area
17  -0.04  .573  45  2018    NHL    ['Penguins']              Pittsburgh
22   0.05  .518  41  2018    NHL       ['Blues']               St. Louis
26   0.03  .652  47  2018    NHL   ['Predators']               Nashville
29   0.01  .311  24  2018    NHL      ['Sabres']                 Buffalo
30   0.00  .378  27  2018    NHL   ['Canadiens']                Montreal
31   0.05  .409  31  2018    NHL     ['Canucks']               Vancouver
34  -0.04  .537  39  2018    NHL     ['Jackets']                Columbus
35   0.03  .470  35  2018    NHL      ['Flames']                 Calgary
36   0.00  .372  26  2018    NHL    ['Senators']                  Ottawa
37   0.03  .415  31  2018    NHL      ['Oilers']                Edmonton
39   0.02  .622  48  2018    NHL        ['Jets']                Winnipeg
43  -0.01  .616  47  2018    NHL     ['Knights']               Las Vegas
47  -0.01  .439  33  2018    NHL  ['Hurricanes']                 Raleigh

    population
0   20153634.0
0   20153634.0
0   20153634.0
0   20153634.0
0   20153634.0
0   20153634.0
0   20153634.0
0   20153634.0
0   20153634.0
1   13310447.0
1   13310447.0
1   13310447.0
1   13310447.0
2    6657982.0
3    9512999.0
4    7233323.0
5    6131977.0
6    6070500.0
7    4794447.0
8    3551036.0
9    2853077.0
10   6066387.0
11   4661537.0
12   4297617.0
13   5928040.0
16   3032171.0
17   2342299.0
22   2807002.0
26   1865298.0
29   1132804.0
30   4098927.0
31   2463431.0
34   2041520.0
35   1392609.0
36   1323783.0
37   1321426.0
39    778489.0
43   2155664.0
47   1302946.0

                             pop       win
Metropolitan area
Boston                   4794447  0.714286
Buffalo                  1132804  0.357143
Calgary                  1392609  0.513889
Chicago                  9512999  0.458333
Columbus                 2041520  0.600000
Dallas–Fort Worth        7233323  0.567568
Denver                   2853077  0.589041
Detroit                  4297617  0.434783
Edmonton                 1321426  0.473684
Las Vegas                2155664  0.680000
Los Angeles             13310447  0.622895
Miami–Fort Lauderdale    6066387  0.594595
Minneapolis–Saint Paul   3551036  0.633803
Montreal                 4098927  0.420290
Nashville                1865298  0.746479
New York City           20153634  0.518201
Ottawa                   1323783  0.394366
Philadelphia             6070500  0.617647
Phoenix                  4661537  0.414286
Pittsburgh               2342299  0.618421
Raleigh                  1302946  0.507042
San Francisco Bay Area   6657982  0.625000
St. Louis                2807002  0.578947
Tampa Bay Area           3032171  0.701299
Toronto                  5928040  0.653333
Vancouver                2463431  0.436620
Washington, D.C.         6131977  0.653333
Winnipeg                  778489  0.722222

In [18]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

nba_df=pd.read_csv("assets/nba.csv")
cities=pd.read_html("assets/wikipedia_data.html")[1]
cities=cities.iloc[:-1,[0,3,5,6,7,8]]

#clean up cities data
cities['NBA'].replace('\[.*\]','', regex=True, inplace = True)
cities['NBA'].replace('\—', '', regex=True, inplace = True)

#clean up nba data
nba_df = nba_df[nba_df['year']==2018]
nba_df['team'].replace('\**\s\(\d+\)', '', regex=True,inplace = True)

#splits the team name off and creates index to merge dfs
nba_df['name'] = nba_df['team'].apply(lambda x: re.findall('(\w+)$', x)).astype('str')
nba_df['index'] = nba_df['name'].apply(lambda x: cities['NBA'].str.find(x.strip('\[\]\'')).idxmax())
nba_df = nba_df.set_index('index').sort_values('index')

#Merge the dfs
nba_df = nba_df.merge(cities[['Metropolitan area','Population (2016 est.)[8]']], left_index = True, right_index = True)

#aggregate the data
nba_df['W/L%'] = nba_df['W/L%'].astype(float)
nba_df['Population (2016 est.)[8]'] = nba_df['Population (2016 est.)[8]'].astype(int)
win_loss_by_region = nba_df.groupby('Metropolitan area').apply(lambda x: (x['W/L%']).mean())
population_by_region = nba_df.groupby('Metropolitan area').apply(lambda x: (x['Population (2016 est.)[8]']).mean())
stats.pearsonr(population_by_region, win_loss_by_region)[0]

-0.17636350642182938

In [26]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

mlb_df=pd.read_csv("assets/mlb.csv")
cities=pd.read_html("assets/wikipedia_data.html")[1]
cities=cities.iloc[:-1,[0,3,5,6,7,8]]

#clean up cities nhl team names and pop
cities['MLB'].replace('\[.*\]','', regex=True, inplace = True)
cities['MLB'].replace('\—', '', regex=True, inplace = True)

#clean up the mlb data
mlb_df = mlb_df[mlb_df['year']==2018]

#finds the name of the team from the entire term
mlb_df['name'] = mlb_df['team'].apply(lambda x: re.findall('(\w+)$', x)).astype('str')
#requires an additional step to differentiate between the red and white sox
mlb_df['name'][mlb_df['name']=="['Sox']"] = mlb_df[mlb_df['name']=="['Sox']"]['team'].apply(lambda x: re.findall('(\w+\s\w+)$', x)).astype('str')

#finds the index from the cities df to merge on based on team name
mlb_df['index'] = mlb_df['name'].apply(lambda x: cities['MLB'].str.find(x.strip('\[\]\'')).idxmax())
mlb_df = mlb_df.set_index('index').sort_values('index')

#Merge the popluation data to the nhl data
mlb_df = mlb_df.merge(cities[['Metropolitan area','Population (2016 est.)[8]']], left_index = True, right_index = True)

#changes the data type for the wins and losses
mlb_df['W'] = mlb_df['W'].astype(int)
mlb_df['L'] = mlb_df['L'].astype(int)
mlb_df['Population (2016 est.)[8]'] = mlb_df['Population (2016 est.)[8]'].astype(int)

#aggreagate data on metropolitan ar
win_loss_by_region = mlb_df.groupby('Metropolitan area').apply(lambda x: (x['W']/(x['L']+x['W'])).mean())
population_by_region = mlb_df.groupby('Metropolitan area').apply(lambda x: (x['Population (2016 est.)[8]']).mean())
print(population_by_region)
print(win_loss_by_region)

Metropolitan area
Atlanta                    5789700.0
Baltimore                  2798886.0
Boston                     4794447.0
Chicago                    9512999.0
Cincinnati                 2165139.0
Cleveland                  2055612.0
Dallas–Fort Worth          7233323.0
Denver                     2853077.0
Detroit                    4297617.0
Houston                    6772470.0
Kansas City                2104509.0
Los Angeles               13310447.0
Miami–Fort Lauderdale      6066387.0
Milwaukee                  1572482.0
Minneapolis–Saint Paul     3551036.0
New York City             20153634.0
Philadelphia               6070500.0
Phoenix                    4661537.0
Pittsburgh                 2342299.0
San Diego                  3317749.0
San Francisco Bay Area     6657982.0
Seattle                    3798902.0
St. Louis                  2807002.0
Tampa Bay Area             3032171.0
Toronto                    5928040.0
Washington, D.C.           6131977.0
dtype: float64
Metropolitan area
Atlanta                   0.555556
Baltimore                 0.290123
Boston                    0.666667
Chicago                   0.482769
Cincinnati                0.413580
Cleveland                 0.561728
Dallas–Fort Worth         0.413580
Denver                    0.558282
Detroit                   0.395062
Houston                   0.635802
Kansas City               0.358025
Los Angeles               0.529122
Miami–Fort Lauderdale     0.391304
Milwaukee                 0.588957
Minneapolis–Saint Paul    0.481481
New York City             0.546296
Philadelphia              0.493827
Phoenix                   0.506173
Pittsburgh                0.509317
San Diego                 0.407407
San Francisco Bay Area    0.524691
Seattle                   0.549383
St. Louis                 0.543210
Tampa Bay Area            0.555556
Toronto                   0.450617
Washington, D.C.          0.506173
dtype: float64

In [21]:
stats.pearsonr(population_by_region, win_loss_by_region)

(0.15027698302669307, 0.46370703378875583)

In [4]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

nfl_df=pd.read_csv("assets/nfl.csv")
cities=pd.read_html("assets/wikipedia_data.html")[1]
cities=cities.iloc[:-1,[0,3,5,6,7,8]]

#clean up cities nhl team names and pop
cities['NFL'].replace('\[.*\]','', regex=True, inplace = True)
cities['NFL'].replace('\—', '', regex=True, inplace = True)

#clean up the mlb data
nfl_df = nfl_df[nfl_df['year']==2018]
nfl_df['W'] = nfl_df['W'].astype(str)
nfl_df = nfl_df[-nfl_df['W'].str.contains('\D', regex=True)]

#finds the team name
nfl_df['team'] = nfl_df['team'].replace('[\*\+]', '', regex= True)
nfl_df['name'] = nfl_df['team'].apply(lambda x: re.findall('(\w+)$', x)).astype('str')

#creates the index to join
nfl_df['index'] = nfl_df['name'].apply(lambda x: cities['NFL'].str.find(x.strip('\[\]\'')).idxmax())
nfl_df = nfl_df.set_index('index').sort_values('index')

#joins the two dfs
nfl_df = nfl_df.merge(cities[['Metropolitan area','Population (2016 est.)[8]']], left_index = True, right_index = True)

#changes the data type of wins and loses
nfl_df['W'] = nfl_df['W'].astype(int)
nfl_df['L'] = nfl_df['L'].astype(int)
nfl_df['Population (2016 est.)[8]'] = nfl_df['Population (2016 est.)[8]'].astype(int)

#aggregates the results
win_loss_by_region = nfl_df.groupby('Metropolitan area').apply(lambda x: (x['W']/(x['W']+x['L'])).mean())
population_by_region = nfl_df.groupby('Metropolitan area').apply(lambda x: (x['Population (2016 est.)[8]']).mean())
stats.pearsonr(population_by_region, win_loss_by_region)[0]

0.004922112149349393

In [5]:
nfl_df.columns

Index(['DSRS', 'L', 'League', 'MoV', 'OSRS', 'PA', 'PD', 'PF', 'SRS', 'SoS',
       'T', 'W', 'W-L%', 'team', 'year', 'name', 'Metropolitan area',
       'Population (2016 est.)[8]'],
      dtype='object')

In [42]:
import numpy as np

a = np.arange(8)
b = a[4:6]
b[:] = 40
c = a[4] + a[6]
c

46

In [35]:
import re
s = 'ABCAC'
bool(re.match('A', s)) == True

True

In [28]:
'[^A](?=AAA)'

array([0, 1, 2, 3, 4, 5, 6, 7])

In [41]:
df = pd.Series({'d':4, 'b':7, 'a':-5, 'c':3})
df.index[0]

4